

<html >
	<head >
		<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto+Slab'>

		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

		<title>Quora</title>


		<link href="/css/inner.css" rel="stylesheet" type="text/css">
		<script src="/js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript"  src ="/js/application.js"></script>


	</head>



	<body>

		<!--  NAV BAR -->
			<ul>
			  <li style="float:left"><a  class="active" href="/home">QUORA?</a></li>
			    <li style = "float:left">

				<form  method="post" action="/ask">
				    <input taborder="1" type="text" class="enter-ques" placeholder="enter a question" name="text" > 
				    <input type=submit value="Ask" id='ask-button'>
				</form>



			  </li>
			  <!-- <li><a href="/urls/askpage">ASK</a></li> -->
			  


			  <% if session[:user_id] == nil %>
			  <% @status = "LOGIN" %>
			  <% else %>
			  <% @status = "LOGOUT" %>

			  <% end%>
			  <li><a href="/<%= @status.downcase %>"><%= @status%></a></li>
			  <li><a href="/urls/profile/<%=session[:user_id] %>"> Hi, <%= session[:user_name] %>!</a></li>
			</ul>


	






	     <div style="margin-top: 30px" class = "question">   
        <% @question_sorted.each do |x| %>
           <div class="container" id="body-feed">
          	 <!-- <a href = "/question/<%= x.id %>" > Question <%= x.id%> </a> -->
          	<!-- <br> <br> -->
          	<div style="clear: both">
	            <h3 id="question-feed"> <a href = "/question/<%= x.id %>" ><%= x.text %> </a>
	            <%= @user = User.find(x.user_id)%> 
	            </h3> 

	            <h4 id="name-first-answer"> Asked by: <%= @user.full_name %> </h4 >   
            <!-- <p3> Asked by <%= @user.full_name%> </p3> -->
        	</div>
			

    <!--         <p id = "upvote" > Ups <%= x.upvote%> </p> 
            <p id = "downvote"> Downs <%= x.downvote%> </p> 


        	<form method="post" action="/question/qid/vote/upvote">
        		<input type=hidden name= "quesid"  value="<%= x.id %>"/>
			    <input type=submit value="upvote -q">
			</form>

			<form method="post" action="/question/qid/vote/downvote">
				<input type=hidden name= "quesid"  value="<%= x.id %>"/>
			    <input type=submit value="downvote -q">
			</form> -->

			<!-- PUT OUT THE FIRST ANSWER -->




       		 <!-- ADD ANSWER BUTTON -->
			 <form method=post action="/answer/<%= x.id %>" >
                <input type=text placeholder = "Answer here" name="answer[text]" class="ques-answer-input">
                <input type=submit value="Answer" id='answer-button'>
              </form>


				<!-- <button type="button" id ="show-button" data-toggle="collapse" data-target="#answers<%=x.id %>">Show all answers</button> -->

			<h4> Answers </h4 > 

           <% @answer_sorted.each do |ans| %>
           		
           		<!-- checks if the id of the question and answer match -->

    			<% if ans.question_id == x.id %>
    			 <p> <%= @user = User.find(ans.user_id) %> </p>
    				<p id="answer-name-feed"><%= @user.full_name %> </p>
    				<p><%= ans.text %> </p>
    					
            			<!-- <p id = "downvote"> Downs <%= ans.downvote%> </p>  -->
    				
    				<form method="post" action="/answer/aid/vote/upvote">
        				<input type=hidden name= "answid"  value="<%= ans.id %>"/>
			    		<input type=submit value="|<%= ans.upvote%>| Up" >
					</form>

				<!-- 	 <form method="post" action="/answer/aid/vote/downvote">
						<input type=hidden name= "answid"  value="<%= ans.id %>"/>
					    <input type=submit value="downvote -a">
					</form>  -->
    			<% end %>


    		
           <% end %>
        
           
        </div>
        <br>
        <% end %>
	  

	</body>
</html>


