<html >
	<head >
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

		<title>Quora</title>


		<link href="/css/application.css" rel="stylesheet" type="text/css">
		<script src="/js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript"  src ="/js/application.js"></script>
	</head>

 

	<body>
		
		<div>
			<h1>  <%= session[:user_name] %> </h1>
		</div>

		<button id="home" class="float-left submit-button" >Home</button>

		<script type="text/javascript">
	    	document.getElementById("home").onclick = function () {
	        location.href = "http://localhost:9393/home";
	    	};
		</script>

		<button id="logout" class="float-left submit-button" >Logout</button>

		<script type="text/javascript">
	    	document.getElementById("logout").onclick = function () {
	        location.href = "http://localhost:9393/logout";
	    	};
		</script>


		<button id="profile" class="float-left submit-button" >Profile</button>

		<script type="text/javascript">
	    	document.getElementById("profile").onclick = function () {
	        location.href = "http://localhost:9393/urls/profile/<%=session[:user_id] %>";
	    	};
		</script>


		<div class = "onequestion"

		  <div class = "question">
		  	<p1> Question <%= @question.id%> </p1> 
		  	<br> <br>
		    <p2><%= @question.text %> </p2>   
		    <%= @user = User.find(@question.user_id)%> <br>
		    <p3> Asked by <%= @user.full_name%> </p3>
		   <br><br>
		 </div>



			<p4> Answers </p4>
	     	<% Answer.all.each do |ans| %>
	       
			<% if ans.question_id.to_i == @question.id %>
				<div><%= ans.text %> 
				</div>
			<% end %>
			<br>
			<% end %>

			<br><br><br>
		</div>

			
	  	<h2>Answer the question </h2>
		<form method="post" action="/answer/<%= @question.id%>">
		    <textarea name="answer[text]" rows="10" cols="30">Enter an answer</textarea> 
		     <br>
		    <input type=submit value="Answer">
		</form>

	</body>
</html>










